<p>listbook works!</p>

<ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (valueChange)="filterBook()" ></ngx-slider>

<br><br>

<table border="1">
<tr *ngIf = "books">
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quntity</th>
    <th>AuthorName</th>
    <th>Availableind</th>
    <th>Action</th>
</tr>
<tr *ngFor = "let book of books">
    <td>{{book["id"]}}</td>
    <td>{{book["name"]}}</td>
    <td>{{book["price"]}}</td>
    <td>{{book["quantity"]}}</td>
    <td>{{book["authorName"]}}</td>
    <td>{{book["availableind"]}}</td>
    <td><button (click)="deleteBook(book['id'])">Delete</button></td>
    

</tr>









</table>
