

Enter Name : <input type="text" [(ngModel)]="name"/><br><br>
Enter Price : <input type="text" [(ngModel)]="price"/><br><br>
Enter Quabtity : <input type="text" [(ngModel)]="quantity"/><br><br>
Enter AuthorName : <input type="text" [(ngModel)]="authorname"/><br><br>
Enter Availablility :
True: <input type="radio" [(ngModel)]="availableind" value="True"/>
False: <input type="radio" [(ngModel)]="availableind" value="False"/>
<br><br>
<button (click)="submit()">SUBMIT</button>



<!-- <label>Book Name:</label>
<input type="text" [(ngModel)] = "bookName"><br><br>
<label>Book Price:</label>
<input type="text" name="bookPrice"  [(ngModel)] ="bookPrice"><br><br>
<label>Book Qty:</label>
<input type="text" name="qty"  [(ngModel)] ="qty"><br><br>
<label>Book AuthorName:</label>
<input type="text" name="authorName"  [(ngModel)] ="authorName"><br><br>
<label>Book Available Indicator:</label>
<input type="checkbox" name="availableIndicator"  [(ngModel)] ="availableIndicator" value="AvailableIndicator" ng-checked="expression"><br><br>
<button type="submit" (click)="submit()">Submit</button> -->
