<p>bookcriteria works!</p>

<ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"  ></ngx-slider>

<br><br>

<select [(ngModel)]="authorname">

    <option value="">Please Enter Author Name</option>
    <option value="balabala">BalaBala</option>
    <option value="dddff">Dddff</option>
    <option value="yogendra">Yogendra</option>
    <option value="harshu">Harshu</option>
    <option value="mahesh">Mahesh</option>
    <option value="meet">sidhu</option>
</select>

<button (click)="search()">SUBMIT</button>
<br><br>

<table *ngIf = "books" border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>AuthorName</th>
        <th>Availableind</th>
        <th>Action</th>
    </tr>
    <tr *ngFor = "let book of books">
        <td>{{book["id"]}}</td>
        <td>{{book["name"]}}</td>
        <td>{{book["price"]}}</td>
        <td>{{book["quantity"]}}</td>
        <td>{{book["authorName"]}}</td>
        <td>{{book["availableind"]}}</td>
        
        
    
    </tr>
    
    </table>
    